body{
    margin:0;
}
.texto{
    width:300px;
    height:100px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 20px;
    font-family:helvetica,verdana;
    font-weight:bold;
    text-align:center;
    text-decoration: underline;
    margin-bottom: 10px;

    display:inline-block;
  }
